<div>
  <div>
    <div>Izaberi korisnika</div>
    <select [(ngModel)]="korisnik">
      <option value="0">Profesor</option>
      <option value="1">Student</option>
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let dan of nedelja">
          {{ dan.datum | date: "dd MMM" }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let termin of nedelja[0].termini; let i = index">
        <td>
          {{ termin.datum | date: "HH.mm" }}
        </td>
        <td>
          <button
            (click)="promeniStanje(0, i)"
            [ngClass]="{
              ugasen: nedelja[0].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[0].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[0].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[0].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[0].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[0].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
        <td>
          <button
            (click)="promeniStanje(1, i)"
            [ngClass]="{
              ugasen: nedelja[1].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[1].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[1].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[1].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[1].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[1].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
        <td>
          <button
            (click)="promeniStanje(2, i)"
            [ngClass]="{
              ugasen: nedelja[2].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[2].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[2].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[2].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[2].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[2].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
        <td>
          <button
            (click)="promeniStanje(3, i)"
            [ngClass]="{
              ugasen: nedelja[3].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[3].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[3].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[3].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[3].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[3].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
        <td>
          <button
            (click)="promeniStanje(4, i)"
            [ngClass]="{
              ugasen: nedelja[4].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[4].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[4].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[4].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[4].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[4].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
        <td>
          <button
            (click)="promeniStanje(5, i)"
            [ngClass]="{
              ugasen: nedelja[5].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[5].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[5].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[5].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[5].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[5].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
        <td>
          <button
            (click)="promeniStanje(6, i)"
            [ngClass]="{
              ugasen: nedelja[6].termini[i].stanje === stanja.UGASEN,
              slobodan: nedelja[6].termini[i].stanje === stanja.SLOBODAN,
              zakazan: nedelja[6].termini[i].stanje === stanja.ZAKAZAN,
              zakljucan: nedelja[6].termini[i].zakljucan === zakljucan.DA,
              otkljucan: nedelja[6].termini[i].zakljucan === zakljucan.NE
            }"
          >
            <div [ngSwitch]="nedelja[6].termini[i].stanje">
              <i *ngSwitchCase="stanja.UGASEN" class="fas fa-times"></i>
              <i *ngSwitchCase="stanja.SLOBODAN" class="fas fa-check"></i>
              <i *ngSwitchCase="stanja.ZAKAZAN" class="fas fa-minus"></i>
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div>Profesorova cena jednog casa: {{ profesorovaCenaJednogCasa }}</div>
    <div>Broj zakazanih casova : {{ brojZakazanihCasova }}</div>
    <div>
      Ukupna cena : {{ brojZakazanihCasova * profesorovaCenaJednogCasa }}
    </div>
  </div>
</div>
